.form-check-input {
    position: absolute; /* Position the checkboxes relatively to their container */
    top: 5px; /* Adjust this value to control the vertical position */
    left: 25px;
}
.journaliers{
    size: 2cm;
}
.op{
    position: relative; /* Position the checkboxes relatively to their container */
    left: 25px;

}
.journaliers{
    width: 100px;
    position: relative;
    left: 10px;
}
.mensuels{
    width: 100px;
    position: relative;
    left: 50px;
}
.hebdomadaires{
    width: 90px;
    position: relative;
    left: 40px;
    
}
.hebdomadaire{
    position: relative;
    left: 25px;
    
}
.aa{
    width: 100cm;
}
.produits{
    width: 90px;

}
.date{
    width: 190px;

}
.oui{
    position: relative;
    left: 10px;
}
.non{
    position: relative;
    left: 10px;
}
.tag-input {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
    margin-top: 10px;
}

.tag-input input {
    border: none;
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn-transition {
    background-color: #ff6900; /* Initial background color */
    color: #ffffff; /* Initial text color */
    border-color: #ff6900; /* Initial border color */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.btn-transition:hover {
    background-color: #ffffff; /* Background color on hover */
    color: #ff6900; /* Text color on hover */
    border-color: #ff6900; /* Border color on hover */
}
.custom-next-button {
    background-color: #ff6900; /* Set the desired background color */
    color: white; /* Set the text color to contrast with the background */
    margin-right: 8px; /* Add spacing to the right for separation */
    border-color: #ff6900;
}

.custom-previous-button {
    background-color: #ffffff ; /* Set the background color to dark blue */
    color: #ff6900 ; /* Set the text color to white */
    margin-right: 8px; /* Add spacing to the right for separation */
    border-color: #ff6900;
}

.signature-pad{
    background-color: #ffffff;
    

}
.btns{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}
.btns button{
    background-color: #ffffff;
    border: 1px solid #d5d9d9;
    border-radius: 8px;
    box-shadow: rgba(213, 217, 217, .5)0 2px 5px 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    display: inline-block;
    font-family: "Amazon Ember",sans-serif;
    font-size: 13px;
    line-height: 29px;
    padding: 0 10px 0 11px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: 110px;
    margin: 0;
}
